/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
pre, 
h3.notice {

    padding: 20px !important;
    font-size: 15px;
}

h3.notice {

    margin: 20px 0 0 0 !important;
}

input.shortcode {

    width: 100%;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 8px;
}

.iconfinder-portfolio-params th, 
.iconfinder-portfolio-params td { 

    padding: 10px 10px 0 10px; 
}

.iconfinder-portfolio-params th { 
    
    text-align: left; 
}

.iconfinder-portfolio-params tbody tr td:nth-child(1) { 

    font-weight: bold; 
}

.iconfinder-portfolio-options li {

    display: inline-block;
    width: 20%;
}

.inside {
    
    display: table;
}


.form-row {
    
    float: left;
    width: 100%;
    clear: both;
    margin: 20px 20px 0 20px;
    padding: 0;
    display: table-row;
}

.form-label {
    
    float: left;
    width: 200px;
    color: #666;
    padding-right: 20px;
    padding-top: 0;
    display: table-cell;
    font-weight: bold;
    font-size: 1em;
}

.form-option {
    
    float: left;
    width: 75%;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
}

input.regular-text {
    
    width: 50em;
}

p.submit {
    
    clear: both;
    padding: 0 0 20px 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
}

body.toplevel_page_iconfinder-portfolio form p {
    
    margin: 0 0 15px 0;
}

.wp-core-ui .button-primary.imported {
    background: #67bf70 !important;
}

.icf-button.imported {
    background: #67bf70;
    border-color: #4d9e53 #4d9e53 #4d9e53;
    -webkit-box-shadow: 0 1px 0 #4d9e53;
    box-shadow: 0 1px 0 #4d9e53;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #4d9e53,1px 0 1px #006799,0 1px 1px #4d9e53,-1px 0 1px #4d9e53;    
}

.icf-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drib-shots.icf-mode-basic {

    min-height: 420px !important;
}

.drib-shots p {
    
    padding: 0 10px;
}

.iconset-card .button-row {
    
    text-align: left;
    border-top: 1px solid #ccc;
    padding: 10px 0 !important;
    margin:  0 !important;

    min-height: 30px;
}

.iconset-card .button-row .button-import,
.iconset-card .button-row .button-update {

    float: left;
}

.iconset-card .button-row .button-delete {

    float: right;
}

.iconset-card {

    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0px;
    border: 1px solid #ddd;
    background: #fff;
    height: 460px;
    width: 310px !important;
    min-width: 310px !important;
}

.iconset-card.icf-mode-basic {

    min-height: 420px !important;
}

.iconset-card .top,
.iconset-card .bottom,
.iconset-card .shortcode {

    padding: 10px;
}

.iconset-card a {

    cursor: pointer;
}

.iconset-card .bottom {

    background: #fafafa;
    height: 125px;
    min-height: 125px;
    border-top: 1px solid #ddd;
}

.iconset-card .bottom input {

    background: transparent;
}

.iconset-card .top {

    padding-bottom: 0;
    margin-bottom: 0;
    height: 264px;
}

.iconset-card .top .preview {

    height: 190px;
    float: none;
}

.iconset-card img {

    width: 95%;
}

.iconset-card .shortcode {

    background: #efefef;
    height: 20px;
    text-align: center;
}

.iconset-card .shortcode input {

    background: #efefef;
    font-size: 1em;
    width: 290px;
    display: block;
    border: none;
    box-shadow: none;
    text-align: center;
}

.iconset-card .top .info {

    padding: 0;
    margin: 0;
}

.danger {
     
    color: red !important;
}

.icf-admin-pagination span:nth-child(1) {

    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.icf-admin-pagination {

    height: 46px;
    margin: 20px 0 !important;
    padding: 0px 10px !important;
    clear: both;
    background: #fff;
    border: 1px solid #ddd;
}

.icf-admin-pagination .download-stats {

    position: absolute;
    width: 25%;
    float: left;
}

.icf-admin-pagination.top .tablenav .tablenav-pages {

    float: right;
}

.icf-admin-pagination.bottom .tablenav .tablenav-pages {

    float: left;
}

.icf-admin-pagination.top .tablenav .tablenav-pages a,
.icf-admin-pagination.bottom .tablenav .tablenav-pages a {

    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #ccc;
    padding: 5px;
    background: #e5e5e5;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.icf-admin-pagination input.button {

    float: left;
    margin: 0 5px 0 0;
    text-transform: uppercase;
}

.post-type-icon .wp-list-table .column-preview {

    width: 100px !important;
    text-align: center;
}

.post-type-iconset .wp-list-table .column-preview {

    width: 200px !important;
    text-align: center;
}

#image-mapper {

    width: 940px;
    display: none;
    padding: 10px 40px;
    max-height: 960px;
}

#image-mapper h3 {

    margin: 0 0 30px 0;
}

#image-mapper .controls {

    padding: 20px 0;
}

.suggestions,
#user-uploaded-images,
#iconfinder-api-images {

    background: #fff;
    border: 1px solid #aaa;
    padding: 20px;
}

.suggestions {

    width: 93%;
    height: 200px;
    margin: 0 0 20px 0;
}

#user-uploaded-images,
#iconfinder-api-images {

    width: 47.5%;
    float: left;
}

#iconfinder-api-images {

    margin-right: 10px;
}

#user-uploaded-images .content,
#iconfinder-api-images .content {

    overflow: scroll;
}

#image-mapper .content ul li {

    display: inline-block;
    padding: 10px;
    border-radius: 4px;
}

#image-mapper .content ul li:hover {

    border: 3px solid #aaa;
    cursor: pointer;
    padding: 7px;
}

#image-mapper .content ul li img {

    width: 100px;
}

#image-mapper .content ul li.selected {

    border: 3px solid green;
    padding: 7px;
}

#image-mapper .content ul li.in-use {

    opacity: 0.25;
}

#image-mapper-message {

    height: 48px;
    line-height: 48px;
}


#image-mapper-message.success {

    padding-left: 48px;
    background: url(../images/success.png) no-repeat center left;
}

#image-mapper-message.error {

    padding-left: 48px;
    background: url(../images/error.png) no-repeat center left;
}